In [2]:
import pandas as pd
features=pd.read_csv("ltv_features_raw.csv")

future_tx=pd.read_excel("future_transactions.xlsx")

In [3]:
future_tx['order_date']=pd.to_datetime(future_tx['order_date'])

In [4]:
future_tx=future_tx[(future_tx['order_date']>='2025-01-01') & (future_tx['order_date'] <='2025-12-31')]
future_tx.shape

(200, 6)

In [5]:
labels=future_tx.groupby('customer_id',as_index=False)['order_value'].sum()
labels=labels.rename(columns={'order_value':'ltv_12m'})
labels.head()

  customer_id  ltv_12m
0       C0001     3620
1       C0002     2970
2       C0003     3230
3       C0004     2770
4       C0005      830

In [7]:
df_train=features.merge(labels, on="customer_id",how='left')
df_train['ltv_12m']= df_train['ltv_12m'].fillna(0)

In [8]:
df_train.to_csv("ltv_train.csv", index=False)
print("Saved ltv_train.csv --shape:",df_train.shape)
df_train.head()

Saved ltv_train.csv --shape: (51, 14)

,customer_id,frequency,monetary_sum,monetory_avg,last_order_date,first_order_date,distinct_categories,avg_items,recencey_days,tenure_days,orders_30d,orders_90d,orders_180d,ltv_12m
0,C0001,2,1650,825.000000,2023-05-11,2023-02-15,2,1.50,600,685,0.0,0.0,0.0,3620.0
1,C0002,4,2480,620.000000,2024-03-29,2022-12-28,4,1.75,277,734,0.0,0.0,0.0,2970.0
2,C0003,4,2790,697.500000,2024-07-19,2023-03-22,4,1.25,165,650,0.0,0.0,1.0,3230.0
3,C0004,4,4540,1135.000000,2024-11-01,2020-08-12,4,1.50,60,1602,0.0,2.0,2.0,2770.0
4,C0005,3,1775,591.666667,2024-06-05,2021-06-30,3,1.00,209,1280,0.0,0.0,0.0,830.0